<h2>Title</h2>
 <p><%= @book.title %></p>
<h2>Body</h2>
 <p><%= @book.body %></p>

<% @books.each do |list| %>

<div class="choose">
 <span class="list-edit"><%= link_to "Edit", list_path(list.id) %></span>
 <span class="list-back"><%= redirect_to "/lists" %></span>
</div>

<% end %>
