<h1>Editing Book</h1>

<%= form_with model: @book do |t| %>

<h4>Title</h4>
<%= t.text_field :title %>

<h4>Body</h4>
<%= t.text_area :body %>

<% t.submit 'Update Book' %>

<div class="choose2">
 <%= link_to "Show", list_path(@book.id) %>
 <a href="index.html">Back</a>
</div>

<% end %>