*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h1{
  display: block;
  font-weight: bold;
}

table{
  display: table;
  box-sizing: border-box;
}

thead{
  display: table-header-group;
  vertical-align: middle
}

td{
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

h2{
  margin: 10px 0;
  font-weight: bold;
}

.title{
  margin-bottom: 10px;
}

.body{
  margin-bottom: 10px;
}

.submit{
  margin-bottom: 10px;
}

.choose2{
  display: flex;
}