*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thread{
  margin: 20px;
  text-align: center;
  display: flex;
}

.tb1{
  margin: 10px 20px 5px 20px;
  font-weight: bold;
}

.tb2{
  margin: 10px 20px 5px 20px;
  font-weight: bold;
}